html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.block {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin-right: 1px;
}

.correct {
  color: green;
  display: inline;
}

.wrong {
  color: red;
  display: inline;
}

.halfwrong {
  color: orange;
  display: inline;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px;
}
